body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: xx-large;
  font-weight: 900;
  color: rgb(73, 75, 77);
}
.mastered_color {
  color: rgb(233, 161, 6);
}

.flex_container {
  display: flex;
  margin-bottom: 20px;
}
.half_width {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.half_width img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.link_button {
  background-image: linear-gradient(rgb(219, 150, 2), rgb(243, 212, 72));
  text-decoration: none;
  color: aliceblue;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 12px 14px 0px rgba(207, 188, 138, 0.5);
}
a:hover {
  box-shadow: 0px 12px 14px 0px rgba(134, 131, 131, 0.747);

  color: rgb(48, 24, 1);
}
.top_section p {
  padding-bottom: 15px;
}
.about_me {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 5%;
  padding-right: 20%;
  background-size: cover;
}
.about_me p {
  padding-right: 20px;
  padding-bottom: 10%;
}
.about_recipes {
  text-align: center;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2%;
}
.recipe_section {
  padding-bottom: 10%;
}
.recipe_details {
  padding-left: 10%;
  padding-right: 10%;
}
.recipe_item {
  display: block;
  width: 30%;
  padding: 10px;
  margin-right: 5%;
  border-radius: 25px;
  box-shadow: 10px 2px 40px rgb(145, 145, 145);
}
.recipe_item img {
  width: 100%;
  border-radius: 25px;
}

.bottom_section {
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 4%;
}
#social_network {
  border-radius: 25px;
  box-shadow: 10px 5px 40px rgb(211, 208, 208);

  padding-top: 20px;
  padding-bottom: 20px;
}
.count_num {
  font-size: xx-large;
  font-weight: 900 bolder;
  color: #000;
}
.subscriber_count {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.footer {
  background-color: rgb(4, 1, 34);
  padding: 20px;
  text-align: center;
}

.fa {
  padding: 20px;
  width: 20px;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background-color: white;
  border: 4px rgb(177, 171, 171) double;
  color: #074adb;
}
.fa-google {
  background-color: white;
  border: 4px rgb(177, 171, 171) double;
  color: crimson;
}

.fa-linkedin {
  background-color: white;
  border: 4px rgb(177, 171, 171) double;
  color: rgb(78, 111, 172);
}

.footer_text {
  color: rgba(173, 178, 182, 0.849);
}
